<div class="container-contact100">
  <div >



    <form (ngSubmit)="addAnswers()">
      <div  *ngFor="let question of questions">
        <br><br>
          <span class="contact100-form-title">{{question.question}}</span>
        <br>
          <input style="margin-left: 150px" id="radio1" type="radio" name="grade" value="1" required="required">
          <label style="display: inline-block; margin-right: 150px;" for="radio1">
            1
          </label>



          <input  id="radio2" type="radio" name="grade" value="2">
          <label style="display: inline-block; margin-right: 150px;" for="radio2">
            2
          </label>



          <input   id="radio3" type="radio" name="grade" value="3">
          <label style="display: inline-block; margin-right: 150px;" for="radio3">
            3
          </label>


          <input   id="radio4" type="radio" name="grade" value="4">
          <label style="display: inline-block; margin-right: 150px;"for="radio4">
            4
          </label>


          <input   id="radio5" type="radio" name="grade" value="5">
          <label style="display: inline-block; margin-right: 150px;" for="radio5">
            5
          </label>
        </div>
    <div class="container-contact100-form-btn">
      <input type="submit" class="contact100-form-btn" value="Save">
    </div>
    </form>
      </div>





  </div>



