


<div class="container-contact100">
  <div class="wrap-contact100">
    <div  class="contact100-form ">
				<span class="contact100-form-title">
				Select your username
				</span>



      <div class="wrap-input100">
        <div class="label-input100">Step 2</div>
        <br>
        <div>
          <form  [formGroup]="userForm"(ngSubmit)="selectUser(user.value)">

            <select  class="input100 form-control"  formControlName="user" name="user" #user>
              <option *ngFor="let user of users" [value]="user" >{{ user.name}} {{user.surname}}</option>
            </select>
            <div class="dropDownSelect2"></div>
            <div class="container-contact100-form-btn">
              <input type="submit" class="contact100-form-btn" value="Next" [disabled]="!userForm.valid">
            </div>
          </form>
      </div>

      </div>


    </div>

    <div class="contact100-more flex-col-c-m" style="background-image: url('../../assets/images/bg-01.jpg');">
    </div>
  </div>
</div>





