


<div class="container-contact100">
  <div class="wrap-contact100">
    <div  class="contact100-form ">
				<span class="contact100-form-title">
			Select your team
				</span>



      <div class="wrap-input100">
        <div class="label-input100">Please select your team</div>

        <br>
        <form [formGroup]="teamForm" (ngSubmit)="selectTeam(team.value)">

          <select  class="input100 form-control" name="team"  formControlName="team" #team>
            <option *ngFor="let team of teams" [value]="team.id" >{{ team.name }}</option>
          </select>
          <div class="dropDownSelect2"></div>
          <div class="container-contact100-form-btn">
            <input type="submit" class="contact100-form-btn" value="Next"  [disabled]="!teamForm.valid">
          </div>
        </form>
        <span class="focus-input100"></span>
      </div>






    </div>

    <div class="contact100-more flex-col-c-m" style="background-image: url('../../assets/images/bg-01.jpg');">
    </div>
  </div>
</div>





